section#home.home.active.section
   .container
      .row
         .home-info.padd-15
            h3.hello Hello, my name is
               span.name Ishtiaq Naqi
            h3.my-profession I'm a &nbsp;
               span.typing Web developer and designer
            p I am a software developer having a firm understaning of the software development cycle, I have been part of many academic and real world projects during my career. I am good at solving problems and I am ready to blend in your team.
            button(type="button" id="cv-btn" class="btn") Download CV

         .home-img.padd-15
            img(src="../images/hero.jpg" alt="Main Image")