section#services.service.section
   .container
      .row
         .section-title.padd-15
            h2 Service
      .row
         .service-item.padd-15
            .service-item-inner
               .icon
                  i.fa.fa-mobile-alt
               h4 Mobile Application
               p
                  | I can create or refurnish you existing mobile applications.
         .service-item.padd-15
            .service-item-inner
               .icon
                  i.fa.fa-laptop-code
               h4 Web Application
               p
                  | I can develop or recreate existing web applications..
         .service-item.padd-15
            .service-item-inner
               .icon
                  i.fa.fa-palette
               h4 Web and Mobile Design
               p
                  | I will design catchy websites, web and mobile applications, using design tools.
         .service-item.padd-15
            .service-item-inner
               .icon
                  i.fa.fa-code
               h4 Website Development
               p
                  | I will develop eilte looking website for your personal and business use.
         .service-item.padd-15
            .service-item-inner
               .icon
                  i.fa.fa-search
               h4 Add Features
               p
                  | I can add your desired featues to your websites and applications.
         .service-item.padd-15
            .service-item-inner
               .icon
                  i.fa.fa-bullhorn
               h4 Optimization
               p
                  | I will make your product highly optimized and SEO friendly.