.aside
   .logo
      a(href='#')
         span
            | Ishtiaq
         | .
   .nav-toggler
      span
   ul.nav
      li
         a(href="#home" class="active")
            i.fa.fa-home
            | Home
      li
         a(href="#about")
            i.fa.fa-user
            | About
      li
         a(href="#services")
            i.fa.fa-list
            | Services
      li
         a(href="#portfolio")
            i.fa.fa-briefcase
            | Portfolio
      li
         a(href="#contact")
            i.fa.fa-comments
            | Contact